[core]
  ignorecase = false
[merge]
  ff = false
[pull]
  ff = only
[commit]
  template = .gittemplate
[gitflow "branch"]
	master = master
	develop = develop
[gitflow "prefix"]
	feature = feature/
	release = release/
	hotfix = hotfix/
	support = support/
	versiontag =
	bugfix = bugfix/
[gitflow "path"]
	hooks = .githooks
